*{
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
body{
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    display: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 10px;
    display: none;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #333; 
    display: block;
  }


.side-menu{
    position: fixed;
    background: #000;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 20px;
    transition: width .2s ease-in;
}

.side-menu.inactive{
    width: 100px;
}



.side-menu .side-menu-footer .toggle-menu-btn{
    color: #666;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.side-menu.inactive .side-menu-footer .toggle-menu-btn{
    right: -30px;
}



.side-menu .main-menu .menu-item{
    color:white;
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 600;
    cursor: pointer;
}

.side-menu .main-menu .menu-item.active{
    background: white;
    border-radius: 5px;
    color: black;
}


.side-menu .main-menu{
    margin: 5px 0;
    position: relative;
    top:120px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* not required any more */
.side-menu.inactive .main-menu{
    margin: 5px 8px;
}

.side-menu .main-menu .menu-item .menu-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align:  center;
}

.side-menu .main-menu .menu-item span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.side-menu.inactive .main-menu .menu-item span{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.side-menu .main-menu .sub-menu{
    color: #333;
    margin-left: 20px;
    border-left: 1px solid #666;
    box-sizing: border-box;
    padding-left: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-in;
}



.side-menu .main-menu .sub-menu.active{
    max-height: 200px;
}

.side-menu .main-menu .sub-menu a{
    display: block;
    margin: 5px 0;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    padding: 5px;
}


.side-menu .main-menu .sub-menu a.active{
    /* change in background, not recorded in video */
    background: white;
    display: block;
    
    border-radius: 5px;
    color: black;

}

.side-menu-footer{
    width: 100%;
    height:120px;
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
}

.side-menu-footer .avatar{
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin-left:-15px;
}
.side-menu-footer .avatar img{
    max-width: 100%;
    object-position: bottom;
}
.photo{
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: inline-block;
}

.photo img{
    max-width: 100%;
}

.side-menu-footer .user-info{
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    position: absolute;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.side-menu.inactive .side-menu-footer .user-info{
    opacity: 1;
    width: 0;
    height: 0;
    overflow: hidden;
}


.side-menu-footer .user-info h5{
    font-size: 15px;
}


.side-menu-footer .user-info p{
    font-size: 14px;
}

.side-menu-footer .user-info button{
    color: white;
    background-color: transparent;
    border: none;
    margin-right:10px;
}

svg{
    border-radius: 50%;
}

.divider{
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background: #333;
}

.container{
    margin-left: 300px;
    width: 1024px;
    transition: margin-left .2s ease-in;
    padding: 50px;
    box-sizing: border-box;
}

.container.inactive{
    width: 1024px;
    margin-left: 100px;
}

.toggle-btn{
    color: #666;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

tr {
    border-top: 1px solid #c6cbd1;
    background: #fff;
  }
  
  th,
  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }
  
  table tr:nth-child(2n) {
    background: #f6f8fa;
  }

  .card-title li{
    list-style-type: disc;
    margin-left: 30px;
    font-size:18px;
  }

.headlist{
    font-size:24px;
    font-weight: bold;
    padding-top: 10px;
    
}

.headlist li{   
    padding-top: 5px;
}

.col-lg-auto{
    padding-top: 20px;
}
.card-header{
    background-color:cornflowerblue;
}
.text{
    font-weight: bold;
    font-size:24px;
}
.card-body p{
    font-size:24px;

}
